<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<header>
   <div class="header-1">
        <a href="#" class="log"></a>
        
        <form action="" class="search-form">
             <input type="search" name="" placeholder="search here..." id="search-box">
             <label for="search-box" class=""></label>
        </form>
        
        <!-- Icons -->
        <div class="icons">
        </div>
   </div>
</header>

</body>
</html>